{% if not chat_list %}
    <p style="color:rgb(197, 197, 197); background-color:#70707044;  
    border: 2px solid rgb(93, 93, 93); border-radius: 5px; 
    margin: auto; padding: 3px; font-size: 25px; margin-top: 35px;">You don't have chats</p>
{% endif %}
{% for chat in chat_list %}
<a href="/open_chat/{{ chat[0] }}" class="body-element" id="{{ chat[0] }}" tabindex="0">
    <div class="chat-list-body-element-avatar">
        <img class="chat-list-body-element-avatar-image" src="../static/images/avatars/{{ chat[3] }}" alt="">
    </div>
    <div class="chat-list-body-element-name-message">
        <div class="name"><p class="chat-list-body-element-name">{{ chat[1] }}</p></div>
        <div class="msg">
            {% if chat[4] %}
                <p class="chat-list-body-element-sender">{{ chat[10] }}:</p>
                <p class="chat-list-body-element-message">{{ chat[4] }}</p>
            {% else %}
                <p class="chat-list-body-element-message" style="margin-left: 0px;">The chat is empty</p>
            {% endif %}
        </div>
    </div>                        
    <div class="chat-list-body-element-date-unread">
        <div class="chat-list-body-element-date">
            <p class="chat-list-body-element-date-text">{{ chat[5] }}</p>
        </div>              
        <div class="chat-list-body-element-unread">
            <p class="chat-list-body-element-status_read"></p>
            <!-- {% if chat[6] %}
            <p class="chat-list-body-element-unread-text">{{ chat[6] }}</p>
            {% endif %} -->
        </div>          
    </div>
</a>
{% endfor %}