<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Chat</title>
    <link rel="stylesheet" href="..\static\styles\chat_preview.css">
    <link rel="icon" href="..\static\images\icons\logo.png" type="image/x-icon">
</head>
<body>
    <div class="area">
        <div class="head">
            <button class="btn_back" onclick="document.location='/'" type="button"><img class="arrow_left" src="..\static\images\icons\arrow.png"></button>
            <h1 style="position: relative; margin-left:-25px; color: white;">Chat info</h1>
            <div style="justify-content: flex-end;">
                <!-- <button onclick="document.location='/edit_profile'" class="btn_pencil" type="button"><img class="img_pencil" src="..\static\images\icons\pen.svg"></button> -->
                <button onclick="display_setting_panel()" id="btn_panel_dots" class="btn_dots" type="button"><img class="img_dots" src="..\static\images\icons\vertical-dots.svg"></button>
            
                <div class="setting_panels" id="setting_panel">
                    {% if chat_type_id == 1 %} <!-- if personal -->

                        {% if chat_friend_state_id == 1 %} <!-- if unblock -->
                            <button class="panel-btn" id="block_user" onclick="document.location='/block_user'">
                                <img class="img_btn" id="block" src="..\static\images\icons\block.svg"><p id="block_user_txt" class="panel-txt">Block user</p>
                            </button>
                        {% elif chat_friend_state_id == 2 %} <!-- if block -->
                            <button class="panel-btn" id="unblock_user" onclick="document.location='/unblock_user'">
                                <img class="img_btn" id="unblock" src="..\static\images\icons\block.svg"><p id="unblock_user_txt" class="panel-txt">Unblock user</p>
                            </button>
                        {% endif %}

                    {% elif chat_type_id == 2 %} <!-- if group -->
                        <button class="panel-btn" id="inv_code_btn" onclick="copyCode()">
                            <img class="img_btn" src="..\static\images\icons\join_group.svg"><p class="panel-txt">Invitation code</p>
                        </button>
                        <button class="panel-btn" id="leave_chat" onclick="document.location='/leave_chat'">
                            <img class="img_btn" src="..\static\images\icons\logout.svg"><p class="panel-txt">Leave chat</p>
                        </button>
                    {% endif %}

                    {% if chat_role_id == 1 or chat_role_id == 2 %} <!-- if creator or admin -->
                        <button class="panel-btn" id="clear_chat" onclick="document.location='/clear_chat'">
                            <img class="img_btn" src="..\static\images\icons\clear_chat.svg"><p class="panel-txt">Clear chat</p>
                        </button>
                        <button class="panel-btn" id="btn_del" onclick="document.location='/delete_chat'">
                            <img class="img_btn" src="..\static\images\icons\delete_chat.svg"><p class="panel-txt">Delete chat</p>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main_img">
                <img class="img_avatar" src="..\static\images\avatars\{{ chat_avatar }}">
            </div>
            <div class="main_block"> 
                <p id="chat_name" class="txt" title="name">{{ chat_name }}</p>
                {% if chat_type_id == 1 %}
                    <p id="username" class="txt" title="username">@{{ friend_info.username }}</p>
                    <p id="bday" class="txt" title="bday">{{ friend_info.bday }}</p>
                    <p id="bio" style="border: none;" class="txt" title="bio">{{ friend_info.bio }}</p>
                {% endif %}
            </div>
            <!-- {% if chat_type_id == 2 %}
            <div class="main_block" title="cnt_members"> 
                <p class="txt">{{ cnt_members }} members</p>
            </div>
            {% endif %} -->
            
        </div>
        {% if chat_type_id == 1 %} <!-- if personal -->
        <div class="buttons">
            <a href="/open_chat/{{ chat_id }}"><button class="btn" id="write">Write</button></a>
        </div>
        {% endif %}
        {% if chat_type_id == 2 %} <!-- if group -->
            <hr class="sett_panel_hr">
            <div id="members_list" class="members">
                 <p style="margin-top: 10px; margin-bottom: 25px; font-size: 20px">Members: {{ cnt_members }}</p>
                {% for member in members %}
                    {% if member.id == user_id %}
                        <a href="/settings" class="member" id="{{ member.id }}" tabindex="0">
                            <div class="member-avatar">
                                <img class="avatar-image" src="../static/images/avatars/{{ member.avatar }}" alt="">
                            </div>
                            <div class="member-name">
                                <p class="info" style="margin-right: 15px;">{{ member.name }} {{ member.lastname }}</p>
                                <p class="info">@{{ member.username }}</p>
                            </div>                        
                        </a>
                    {% elif member[0] != user_id %}
                        <a href="/open_chat_preview/{{ member.id }}" class="member" id="{{ member.id }}" tabindex="0">
                            <div class="member-avatar">
                                <img class="avatar-image" src="../static/images/avatars/{{ member.avatar }}" alt="">
                            </div>
                            <div class="member-name">
                                <p class="info" style="margin-right: 15px;">{{ member.name }} {{ member.lastname }}</p>
                                <p class="info">@{{ member.username }}</p>
                            </div>                        
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script src="..\static\scripts\script.js"></script>
</body>
</html>