.chat-body{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    /* min-height: 200px; */
    height: calc(100% - 65px);
    background-color: #2c2c2c;
    background-image: url(../images/icons/logo.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center center;
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
}

.chat-footer{
    position:fixed;
    height: 54px;
    display: flex;
    width: 730px;
    align-items: center; 
    user-select: none;
    bottom: 0px;
    overflow: visible;
    margin-top: -60px;
    padding-bottom: 7px;
    padding-right: 130px;
    background-color:#2c2c2c;
}

.chat-footer-block_menu{
    position: relative;
    width: 660px;
    height: 45px;
    user-select: none;
    margin-left: 10px;
    margin-bottom: 7px;
    z-index: 0;
    display: none;
}

.block_menu-box{
    position: relative;
    /* display: inline-flex; */
    display: none;
    width: 660px;
    height: 45px;
    align-items: center;
    border-radius: 25px;
    border: 1px solid rgba(136, 136, 136, 0.389);
    background-color: #2b2b2b;
}

.block_menu-main{
    display: inline-block; 
    width: 85%;
    margin-right: 10px;
    font-size: 0.5em;
}

#close_reply{
    width: 20px; filter: invert(80%); margin-right: 10px;
}
#close_reply:hover{
    filter: invert(95%);
}

#close_edit{
    width: 20px; filter: invert(80%); margin-right: 10px;
}
#close_edit:hover{
    filter: invert(95%);
}

.forward_box{
    position: absolute;
    display:flex;
    display: none;
    flex-direction: column;    
    width: 500px;
    height: 900px;
    background-color: #202020ed;
    border-radius: 10px;
    border: 3px solid rgba(136, 136, 136, 0.389);
    align-items: center;
    justify-content:start;
    top: 300px;
    margin-left: 180px;
}

.forward_header{
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(136, 136, 136, 0.389);
}
.chat_list_forward{
    display: flex;
    flex-direction: column;    
    overflow-y: scroll;   
    scrollbar-width: none;    
    /* background-color:#4f4f4f7e; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 96%;
    height: 100%;
    border-radius: 10px;
}
#close_forward{
    width: 1.7em; filter: invert(80%); margin-right: 10px; margin-left: 10px;
}
#close_forward:hover{
    filter: invert(95%);
}

.search_chat_forward{
    background-color:#181818; 
    padding: 1% 0.5%;
    padding-left: 10px;
    border-width: 0;
    border-radius: 10px;
    resize: none;   
    color: white;
    width: 81%;
    height: 1.7em;
    min-height: 1em;
    font-size:80%;
    font-weight: 100;
    letter-spacing: 0.7pt;
    display: flex;
    align-items: center;
    user-select: none;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search_chat_forward:focus, input:focus{
    outline: 1.5px solid #4f4f4f;
}

.chat-footer-form{
    display:flex;
    width: 100%;
    align-items: center; 
    user-select: none;
    justify-self: center;
    align-self: flex-end;
    overflow:unset;
    margin-left: 60px;

}
.message-text{
    display: flex;
    background-color:#222222;
    border: none;
    resize: none;   
    color: white;
    width: 99%;
    height: 45px;
    max-height: 400px;
    min-height: 45px;
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color: #222222;
    border: 3px solid #1a1a1a;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 13px;
    box-sizing:border-box;
    margin-left: 10px;
}
.message-text:focus, input:focus{
    outline: none;
}
.chat-footer-item:hover{
    color: white;
}
.chat-footer-item-btn{
    display: flex;
    position: absolute;
    border: none;
    align-items: center;
    background-color:#2c2c2c;
    width: 50px;
    margin-bottom: 2px;
    align-self: flex-end;
}
.chat-footer-item-img{
    width: 100%;
    filter: invert(50%);
}
.chat-footer-item-btn:hover .chat-footer-item-img{
    filter: invert(75%);
}

/*----------------------*/
::-webkit-scrollbar {
    width: 0.5%;   
  }   
/* ::-webkit-scrollbar-thumb {   
    background-color: transparent;
    border-radius: 4px;
} */
/* .chat-body:hover::-webkit-scrollbar-track {       
    background: #242a33;        
} */
/* .chat-body:hover::-webkit-scrollbar-thumb {
    background-color: #4f555c;   
} */
/*--------------------------
::-khtml-scrollbar {
    width: 0.5%;   
  }   
::-khtml-scrollbar-thumb {   
    background-color: transparent;
    border-radius: 4px;
}
.chat-body:hover::-khtml-scrollbar-track {       
    background: #242a33;        
}
.chat-body:hover::-khtml-scrollbar-thumb {
    background-color: #4f555c;   
}
/*-------------------------------*/
/*-------------------------*/
/* ::-moz-scrollbar {
    width: 0.5%;   
  }   
::-moz-scrollbar-thumb {   
    background-color: transparent;
    border-radius: 4px;
}
.chat-body:hover::-moz-scrollbar-track {       
    background: #242a33;        
}
.chat-body:hover::-moz-scrollbar-thumb {
    background-color: #4f555c;   
} */
/*-------------------------------*/