/* body */
.chat-list-body_fw{
    display: flex;
    flex-direction: column;    
    overflow-y: scroll;   
    scrollbar-width: none;    
}
.body-element_fw{
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    border-radius: 15px;
    margin-left: 1.5px;
    margin-right: 1px;
    margin-top: 1px;
    text-decoration: none;
    color: white;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}


/*hover and click*/
.body-element_fw:hover{    
    transition: background-color 0.3s;
    background-color: #3f3f3f; 
    outline: 0px solid transparent;   
    cursor: pointer;
} 

.body-element_fw.selected {
    background-color: #343434; 
}

/*_____________________*/


/*avatar*/
.chat-list-body-element-avatar_fw{   
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 60px;   
    margin-left: 6px;
    min-width: 60px;
    margin-right: 1px;
}
.chat-list-body-element-avatar-image_fw{   
    object-fit: cover;
    align-items: center;
    justify-items: center;
    display: flex;
    border-radius: 100%;
    border: none;
    overflow: hidden;
    width: 57px;
    height: 57px;
}
/*_____________________*/


/*name-message*/
.chat-list-body-element-name-message_fw{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;    
    font-size: 0.80em;
}

.name_fw{
    /* height: 14px; */
    width: 200px;
    margin-top: 0px;
}
.msg_fw{
    /* height: 14px; */
    width: 200px;
}

.chat-list-body-element-name_fw{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 20px;
}

.chat-list-body-element-message_fw{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 20px;
}


/* date-unread */
.chat-list-body-element-date-unread_fw{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 80%; 
    color: #a7a7a7;  
    padding-left: 5px;
}
.chat-list-body-element-date-text_fw{
    font-size: 90%;
}
.chat-list-body-element-date_fw{
    display: flex;
    align-self: flex-end;
    /* margin-right: 10px;  */
}

/*  */

chat-select-checkbox {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.chat-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #5e5e5e;
    margin-top: 21px;
    margin-left: 10px;
}


.forward_send_btn {
    margin-left: auto;
    background: #676767;
    border: none;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    position:fixed;
    align-items: center;
    user-select: none;
    margin-left: 430px;
    margin-top: 760px;
}

.forward_send_btn:hover {
    background: #949393;
}